<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testCashier">
  <test name="testEnv">
    <classes>
      <class name="com.ralvis.cashier.base.HelloWorldTest"/>
    </classes>
  </test>
  
  <test name="testBasePrinter">
    <packages>
    	<package name="com.ralvis.cashier.print.printer"></package>
    </packages>
  </test>
  
  <test name="testLinePrinter">
    <packages>
    	<package name="com.ralvis.cashier.print.lineprinter"></package>
    </packages>
  </test>
  
  <test name="testDiscount">
    <packages>
    	<package name="com.ralvis.cashier.discount"></package>
    </packages>
  </test>  
  
  <test name="testItem">
    <packages>
    	<package name="com.ralvis.cashier.item"></package>
    </packages>
  </test>
  
  <test name="testOrder">
    <packages>
    	<package name="com.ralvis.cashier.order"></package>
    </packages>
  </test>
  
  <test name="testInput">
    <packages>
    	<package name="com.ralvis.cashier.input"></package>
    </packages>
  </test>
  
  <test name="testSettings">
    <packages>
    	<package name="com.ralvis.cashier.setting"></package>
    </packages>
  </test>
  
  <test name="testUtil">
    <packages>
    	<package name="com.ralvis.cashier.utils"></package>
    </packages>
  </test>
  
  
</suite>