<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testCashier">
  <test name="testEnv">
    <classes>
      <class name="com.ralvis.cashier.base.HelloWorldTest"/>
    </classes>
  </test>
  
  <test name="testBasePrinter">
    <packages>
    	<package name="com.ralvis.cashier.print.printer"></package>
    </packages>
  </test>
  
  <test name="testLinePrinter">
    <packages>
    	<package name="com.ralvis.cashier.print.lineprinter"></package>
    </packages>
  </test>
  
  <test name="testUtil">
    <packages>
    	<package name="com.ralvis.cashier.utils"></package>
    </packages>
  </test>
  
  
</suite>